# .env
OPENAI_API_KEY=OPENAI_API_KEY
OPENAI_MODEL=gpt-4o-mini

DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/rental_ai
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

GMAIL_SENDER=GMAIL_SENDER
GMAIL_APP_PASSWORD=GMAIL_APP_PASSWORD